---
import SectionTitle from "../ui/SectionTitle.astro";
---

<section>

<div class="container">

<SectionTitle

title="Bukti Awal"

subtitle="Evidence"

/>

<div class="evidence-grid">

<div class="card">

<h3>

Peta 1875

</h3>

<p>

Nama
Tanjung Kemuning
telah direkodkan
sebelum
Port Dickson
diwujudkan.

</p>

</div>

<div class="card">

<h3>

Pelan 1931

</h3>

<p>

Perubahan
Bandar Port Dickson
selepas
British.

</p>

</div>

</div>

</div>

</section>