<section>

<h3>

Siapa Raja Bot?

</h3>

<p>

Raja Bot merupakan anak kepada Raja Jumaat.

Beliau mewarisi pemerintahan Lukut ketika kuasa
British mula berkembang di Negeri Sembilan.

</p>

<p>

Nama beliau amat penting dalam memahami sejarah
peralihan Lukut daripada Selangor kepada
Negeri Sembilan.

</p>

<a class="button">

Baca Biografi

</a>

</section>