---
const { location } = Astro.props;
---

<article class="card location-card">

<h3>{location.name}</h3>

<span>{location.year}</span>

<p>{location.description}</p>

<button>

Terokai →

</button>

</article>