---
import { supabase } from "../lib/supabase";

const { data, error } = await supabase
  .from("petition_signatures")
  .select("*")
  .limit(5);

console.log(data);
console.log(error);
---

<h1>Supabase Test</h1>

<pre>{JSON.stringify(data, null, 2)}</pre>

<pre>{JSON.stringify(error, null, 2)}</pre>