<div class="card fact-card">

<div class="fact">
...

<span>

Nama

</span>

<strong>

Raja Bot bin Raja Jumaat

</strong>

</div>

<div class="fact">

<span>

Gelaran

</span>

<strong>

Raja Lukut Terakhir

</strong>

</div>

<div class="fact">

<span>

Pemerintahan

</span>

<strong>

±1860-an hingga 1887

</strong>

</div>

<div class="fact">

<span>

Wilayah

</span>

<strong>

Lukut

</strong>

</div>

</div>