---
interface Props {
  href?: string;
  variant?: "primary" | "secondary";
}

const {
  href = "#",
  variant = "primary"
} = Astro.props;
---

<a
  href={href}
  class={`btn ${variant}`}
>
  <slot />
</a>